*{
    border: 1px solid white;
    margin: 0px;
    padding: 0px;
}
body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    text-align: center;
    
}

#landing-page {
    
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-width: 345px;
    height: 100vh;
    background: url(./images/jason-leung-poI7DelFiVA-unsplash.jpg);
    background-size: cover;
    color: white;
}

#landing-page h2 {
    height: 85%;

}

.header {
    height: 15%;   

}


